@font-face {
     font-family: roboto;
     src: url(fuentes/roboto/Roboto-Regular.ttf);
   }
body{
     margin:0;
     padding: 0;
     background:url(img/bg.jpg) no-repeat center top;
     background-size: cover;
     font-family: sans-serif;
     height: 100vh;
}
.login-box{
     width: 320px;
     height: 420px;
     background:#000;
     color:#fff;
     top:50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%,-50%);
     box-sizing: border-box;
     padding: 70px 30px;
     /*box-shadow: 0 15px 25px rgba(0,0,0,0.5);*/
}
.login-box .avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: calc(50% - 50px);
}
.login-box h1{
     margin: 0;
     padding: 0;
     text-align: center;
     font-size: 20px;
     margin-bottom: 10px;
     font-family: roboto;
}
.login-box label{
     margin: 0;
     padding: 0;
     font-weight: bold;
     display: block;
     font-family: roboto;
}
.login-box input{
     width: 100%;
     margin-top: 10px;
     margin-bottom: 20px;
     font-family: roboto;
}
.login-box input[type="text"],
.login-box input[type="password"]{
     border:none;
     border-bottom: 1px solid #fff;
     background: transparent;
     outline: none;
     color:#fff;
     font-size: 16px;
}
.login-box input[type="submit"] {
     border: none;
     outline: none;
     height: 40px;
     background: #b80f22;
     color: #fff;
     font-size: 18px;
     border-radius: 20px;
     font-family: roboto;
}
.login-box input[type="submit"]:hover{
     /*cursor:pointer;
     background: darkgray;
     color:#fff;*/
}
.login-box a {
     text-decoration: none;
     font-size: 12px;
     line-height: 20px;
     color: darkgrey;
   }
   
.login-box a:hover {
color: #fff;
}
.opciones{
     margin-top: 10px;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
}
.opcion{
     width: 28px;
     height: 28px;
}
.opcion:hover{
     filter: invert(15%) sepia(66%) saturate(4618%) hue-rotate(343deg) brightness(85%) contrast(103%);
}