body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.animated-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
            #C51F5D,
            #243447,
            #141D26);
    background-size: 600% 600%;
    /* Incrementar el tamaño */
    animation: animate-background 12s infinite cubic-bezier(0.4, 0, 0.2, 1);
    /* Suavidad */
}

@keyframes animate-background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}